
@media only screen and (max-width: 600px) {
  .tp-dfwv {
      width: calc(100vw - 15px) !important;
  }
}

/* Import fonts */

@font-face {
  font-family: 'Pangram Hatton';
  src: url('./assets/PPHatton-Medium.otf') format('opentype');
  font-weight: 100;
}

:root {
  --color-bg: black;
  --color-text-main: white;
  --color-primary: #FFFF00;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "Pangram Hatton";
  --font-family-header: "Pangram Hatton";
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

body {
  margin: 20px auto;
  justify-content: center;
  padding: 10%;
  font-family: 'Pangram Hatton';
  /* background-color: var(--color-bg); */
  background-color: #000000;
}

h1 {
  color: aliceblue;
}

/* Subheading */
h2 {
  color: #2800FF;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background: pink;
  margin-top: -5px;
  border-radius: 50%;
 }
 
 input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background: pink;
  margin-top: -5px;
  border-radius: 50%;
 }